* {
 background-color: black;
 color: white;

}

.IMG-GIT {
 display: flex;
 align-items: center;
 justify-content: center;
 font-weight: 200;
}

    .IMG-GIT {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 200;
   }

   .IMG-GIT {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 200;
   }

   .IMG-GIT {
   
    align-items: center;
    justify-content: center;
    font-weight: 200;
   }

   ::selection {                 /* Псевдоэлемент: стиль текста в момент выделения мышкой */
    background: color(srgb 0.65 0.1 0.2);
   color: white;
  }