* {
 background-color: black;
 color: white;

}

.IMG-GIT {
 display: flex;
 align-items: center;
 justify-content: center;
 font-weight: 200;
}

    .IMG-GIT {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 200;
   }

   .IMG-GIT {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 200;
   }

   .IMG-GIT {
   
    align-items: center;
    justify-content: center;
    font-weight: 200;
   }